<h1>Admin Shelters Index</h1>
<h3>All Shelters</h3>
<ul>
<% @shelters.each do |shelter| %>
  <li><%= shelter.name %></li>
  <% end %>
  </ul>
  
  <div id="shelters_pending_apps">
  <h3>Shelters with Pending Applications</h3>
  <ul>
  <% @pending_shelters.each do |shelter| %>
    <li id="shelter-<%= shelter.id %>">
    <%= shelter.name %>
    </li>
    <% end %>
  </ul>
</div>


